@import "tailwindcss";

/* Custom Range Slider */
input[type=range] {
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #2563eb;
  border: 3px solid white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  margin-top: -10px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #2563eb;
  border: 3px solid white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 9999px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  background: #bfdbfe;
}

input[type=range]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
